.container{

}
.buttonGroup{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  button:first-child{
    margin-right: 30px;
  }
}
.inputGroup{
  display: flex;
  align-items: center;
  .name{
    flex-shrink: 0;
  }
  input{
    flex:1;
  }
}